server {
    listen 80;
    server_name {{ server_domain_name }};
        location / {
	        root /var/cocafeHome-output/;
                index  /web/cocafeHome/index.html;
                try_files $uri $uri/ index.html;
        }
}
